/*
* TailwindCSS & ShadCN.
* @see https://tailwindcss.com/docs/guides/remix
* @see https://ui.shadcn.com
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% /* white */;
    --foreground: 224 72% 5% /* gray-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 224 72% 5% /* gray-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 224 72% 5% /* gray-950 */;
    --primary: 21 91% 49% /* orange-600 */;
    --primary-foreground: 34 100% 97% /* orange-50 */;
    --secondary: 0, 0%, 98%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 220 15% 96% /* gray-100 */;
    --muted-foreground: 220 9% 47% /* gray-500 */;
    --accent: 220 15% 96% /* gray-100 */;
    --accent-foreground: 221 40% 11% /* gray-900 */;
    --destructive: 0 85% 61% /* red-500 */;
    --destructive-foreground: 210 20% 99% /* gray-50 */;
    --border: 220 14% 91% /* gray-200 */;
    --input: 220 14% 91% /* gray-200 */;
    --ring: 21 91% 49% /* orange-600 */;
    --muted-grid: rgba(0, 0, 0, 0.1);
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 72% 5% /* gray-950 */;
    --foreground: 210 20% 99% /* gray-50 */;
    --card: 224 72% 5% /* gray-950 */;
    --card-foreground: 210 20% 99% /* gray-50 */;
    --popover: 224 72% 5% /* gray-950 */;
    --popover-foreground: 210 20% 99% /* gray-50 */;
    --primary: 21 91% 49% /* orange-600 */;
    --primary-foreground: 34 100% 97% /* orange-50 */;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 17% /* gray-800 */;
    --muted-foreground: 218 11% 65% /* gray-400 */;
    --accent: 215 28% 17% /* gray-800 */;
    --accent-foreground: 210 20% 99% /* gray-50 */;
    --destructive: 0 63% 31% /* red-900 */;
    --destructive-foreground: 210 20% 99% /* gray-50 */;
    --border: 215 28% 17% /* gray-800 */;
    --input: 215 28% 17% /* gray-800 */;
    --ring: 21 91% 49% /* orange-600 */;
    --muted-grid: rgba(255, 255, 255, 0.1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  @apply transition duration-200 active:opacity-60;
}

button {
  cursor: pointer;
  @apply transition duration-200 active:scale-[0.98];
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

::selection {
  color: hsl(var(--secondary-foreground));
  background-color: hsl(var(--accent));
}

/*
* Remix Development Tools
*/
.rdt-fixed:first-child {
  height: 32px !important;
  width: 32px !important;
  margin: 16px !important;
}

.rdt-fixed:first-child svg {
  height: 32px !important;
  width: 32px !important;
}

.rdt-fixed:first-child svg rect {
  opacity: 0 !important;
}

.rdt-fixed:first-child svg path {
  &:nth-child(2) {
    fill: hsl(var(--primary)) !important;
  }
  &:nth-child(3) {
    display: none !important;
  }
  &:nth-child(4) {
    display: none !important;
  }
}

/*
* Misc
*/
.base-grid {
  @apply will-change-auto;

  background-size: 30px 30px;
  background-image: linear-gradient(90deg, var(--muted-grid) 1px, transparent 0),
    linear-gradient(180deg, var(--muted-grid) 1px, transparent 0);
}
